body{
    margin: 0;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

html {
    background-color: black;
}
header {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    background-color:#0B0B0A ;
    border-top: solid 1px #0E4D2B;
    border-bottom: solid 1px #0E4D2B;
    margin: 0px 0px 0px 0px;
    gap: 55rem;
}
header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

p.logo-para {
    margin-top: 15;
    color: #13FF90;
    font-weight: bold;
    text-shadow: 10px 10px 30px #00ff00 ;

}

p.logo-para:hover {
    color: #083c24;;
    text-shadow: 10px 10px 30px #7fe47f;
    cursor: pointer;
}

img {
    height: 25px;
    justify-items: center;
    margin-right: 1px;
    
}
.nav-items {
    font-size: 1px;
    align-items: center;
    justify-items: center;
}
.nav-link {
    text-decoration: none;
    color: #13FF90 ;
    text-shadow: 0 0 10px #00ff00;
    font-weight: bold;
}
.nav-link:hover {
    color: #0E4D2B;
    cursor: pointer;
}
.wrapper-profile-info {
    color:#13FF90;
    display: flex;
    gap: 10rem;
    height: 50rem;
    justify-content: center;
    padding-top: 5rem;
    
}

div.info {
    padding-top: 100px;
    width: 120px;
    height: 120px;

}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

h4 {
    color: #84c384;
    margin-bottom: 0px;
    text-align: center;
}

h5 {
    color: #84c384;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 0px;
}

h6 {
    color: #84c384;
    margin-top: 10px;
    text-align: center;
}

.personal-info {
    width: 30rem;
}

.personal-info h4 {
    padding-top: 6rem;
    margin-bottom: 10px;
}

section.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.info-field {
    width: 14rem;
    color: #00ff00;
    height: 25px;
    border-radius: 5cm;
    text-align: center;
    background-color:#8cb38c;
}

button.btn {
    margin-top: 20px;
    padding: 5px 5px;
    border-radius: 5cm;
    background-color:#8cb38c ;
    font-weight: bold;
    color: rgb(18, 38, 18);
    
}

button.btn:hover{
    background-color: #0E4D2B;
    cursor: pointer;
}