body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 14rem;
}

section.login-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
form {
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
    border-radius: 15px;
    width: 30rem;
    height: 20rem;
    padding-top: 10px;
}


h2 {
    color: #13FF90;
    font-weight: bold;
    text-shadow: 10px 10px 30px #00ff00 ;
    justify-items: center;
    text-align: center;
}
div.input-box {
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */  
}
input {
    display: block; 
    width: 60%; 
    margin-bottom: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: #79ed79;
    color: white;
    border-radius: 6px;
    text-indent: 0.3cm;
}

.btn-register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn {
    color: #03FF8C;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid #8bf68b;
    border-radius: 2px solid #00ff00 ;
    padding: 10px 60px;
    border-radius: 6px;
    
}

.btn:hover {
    border-color: #00ff00;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.8);
    cursor: pointer;
    background-color: #13FF90;
    color: black;

}
.login-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
}

p {
    color: #03FF8C;
    font-weight: bold;
}
a {
    color: #79ed79;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
    color: darkgreen;
}



